@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/* main logo in nav bar */

#logo {
    height: 75px;
    width: 150px;
}

/* hero image on home page */

#hero-image {
    height: 500px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
}

/* hero image on tuition page */

#tuition-hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/tuition-hero-image.jpg) no-repeat center center;

}

/* green container for whole site */

.container-green {
    background-color: #00A3A3;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
}

/* what we have to offer section on index page */

#services {
    height: 675px;
}

/* styling for text and images on index page */

.center-image {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.services {
    text-align: center;
    margin-bottom: 40px;
}

/* footer */

footer {
    height: 40px;
}

/* social media icons in footer */

.social-icons {
    text-align: center;
}

.social-icons i {
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    color: #00A3A3;
}

/* text over hero image on tuition page */

.bottom-left {
    color: #ffffff;
    position: absolute;
    bottom: 280px;
    left: 40px;
    font-size: 220%;
}

/* paragprahs on tuition page */

.guitar-tuition-p {
    text-align: center;
    margin: 30px;
}

/* tuition page prices */

.prices {
    color: #000000;
    text-align: center;
    margin-bottom: 40px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 2px;
    background-color: #ddd9d9b9;
}

/* hero image on maintenance page*/
#maintenance-hero-image {
    height: 500px;
    width: 100%;
    background: url(../images/guitar-maintenance-hero-image.jpg) no-repeat center center;
}

/* heading on maintenance page*/

.maintenance-heading {
    text-align: center;
    padding: 50px;
}

/* images on maintenance page*/

.maintenance-images {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

/* hero image on studio page */
#studio-hero-image {
    height: 500px;
    width: 100%;
    background: url(../images/studio-hero-image.jpg) no-repeat center center;
}

/* iframe on studio page */

#map-iframe {
    padding-bottom: 30px;
}